/* start global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

a {
    text-decoration: none !important;
}

body {
    direction: rtl;
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

:root {
    --main-color: #0CB2C2;
    --second-color: #FFFFFF;
    --bg-color: #F5F5F5;
}

.bg-info {
    background-color: var(--main-color) !important;

}

.text-info {
    color: var(--main-color) !important;
}

.bg-info {
    background-color: var(--main-color) !important;
}

.main-title h3 {
    position: relative;
    color: var(--main-color);
    text-align: center;
}

.main-title h3::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    top: -30px;
    right: 50%;
    transform: translate(50%, -50%);
    transform: rotate(45deg);
}

/* End global  */
/* start banner-section */
.banner-section,
.services-section {
    background-image: linear-gradient(to right, #000000A8, #000000A8), url('../images/banner/banner.jpeg');
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.select-lang select {
    z-index: 5;
    background-color: var(--main-color) !important;
    width: 50px;
    cursor: pointer;
}

.overlay-banner,
.overlay-banner2,
.overlay-banner-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
}

.overlay-banner2 {
    width: 400px;
}

.overlay-banner-dots {
    left: 200px;
    top: 130px;
    width: 130px;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
    z-index: 100 !important;
}

@media(max-width:992px) {
    .overlay-banner-dots {
        left: 10px;
        top: 130px;
        width: 130px;
    }
}

@media(max-width:567px) {
    .overlay-banner-dots {
        display: none;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    padding: 3px;
    border-radius: 100%;
    color: var(--second-color) !important;
}

.banner-caption {
    font-size: 16px;
    font-weight: 400;
}

.carousel-item {
    padding-top: 13%;
}

@media(max-width:992px) {

    .banner-section,
    .services-section {
        height: auto;
        padding-bottom: 50px;
    }
}

/* End banner-section */

/* start navbar  */

.navbar {
    box-shadow: none !important;
    padding-top: 20px;
    z-index: 999;
}

.navbar-brand img {
    width: 300px;
}

.nav-link {
    font-size: 25px;
    font-weight: 500;
}

.navbar-nav {
    position: relative;
    z-index: 1;
}

.nav-item {
    position: relative;
}

.nav-link {
    color: white;
}

.active-indicator {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 80px;
    height: 2px;
    background-color: var(--main-color);
    transition: all 0.3s ease;
}

.active-indicator::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.3s ease;
}

@media(max-width:1100px) {
    .nav-link {
        font-size: 20px;
    }
}

@media(max-width:992px) {
    .active-indicator {
        display: none;
    }
}

@media(max-width:576px) {
    .navbar-brand img {
        width: 130px !important;
        margin-right: 0rem !important;
    }

    .navbar-toggler {
        margin-top: 0 !important;
    }

    .carousel-item p {
        font-size: 14px;
        width: 70% !important;
    }

}

/* End navbar  */

/* start about us  */
.about-us {
    padding-top: 10%;
    padding-bottom: 20%;
    background-color: var(--bg-color);
    background-image: linear-gradient(to right, #DEEFF0, #FAFAFACC), url('../images/about-us/about-background.jpeg');
    background-position: top;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
}

.about-us .about-caption p {
    font-size: 16px;
}

.about-us .about-img {
    position: relative;
    display: inline-block;
    margin-top: 30px;
}

.about-us .about-img::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -3px;
    border-left: 15px solid var(--main-color);
    border-top: 15px solid var(--main-color);
    width: 90%;
    height: 90%;
}

.about-us .about-caption h3 {
    position: relative;
    color: var(--main-color);
}

.about-us .about-caption h3::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    top: 0;
    right: 35px;
    top: -12px;
    transform: rotate(45deg);
}

@media(max-width:768px) {
    .about-us .about-caption {
        margin-top: 50px;
    }

    .about-us {
        padding-bottom: 20px;
    }
}

/* End about us  */

/* start about-page  */
.about-caption-page {
    padding-top: 7%;
    color: #fff;
}

.about-page-empolee {
    margin-top: 0px !important;
    padding: 50px;
    z-index: 11;
    /* margin-bottom: 200px; */
}

.main-title h3 {
    font-size: 40px;
}

.main-title p {
    font-size: 25px;
}

.about-empolee {
    background-image: none !important;
    background-color: var(--second-color);
}

.about-caption-page h2 {
    margin-bottom: 50px;
    position: relative;
}

.about-caption-page h2::after {
    position: absolute;
    content: '';
    width: 70%;
    height: 5px;
    background-color: var(--main-color);
    bottom: -10px;
    right: 0;
}

.about-caption-page p {
    line-height: 2;
}

.about-page-section {
    height: auto;
    padding-bottom: 200px;
}

.our-mission {
    margin-top: -100px;

}

.our-mission p,
.our-vision p {
    line-height: 2;
    font-size: 20px;
}

.our-mission h2,
.our-vision h2 {
    position: relative;
    margin-bottom: 50px;
}

.our-mission h2::after,
.our-vision h2::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 5px;
    background-color: var(--second-color);
    bottom: -10px;
    right: 0;
}

.our-vision h2::after {
    bottom: -15px;
}

@media(max-width:768px) {
    .our-mission {
        padding: 20px auto 0;

    }

    .about-caption-page p {
        font-size: 14px;
    }

    .our-mission .box {
        flex-direction: column !important;
        padding: 20px !important;
    }

    .our-mission .box img {
        display: block;
        margin: auto;
    }

    .about-page-empolee {
        margin-bottom: 0px;
        padding: 10px;
    }

    .main-title h3 {
        font-size: 30px;
    }

    .main-title p {
        font-size: 20px;
    }
}

/* start our-vision  */
.our-vision {
    background-color: #324252;
    padding: 100px 50px;
    position: relative;
}

.our-vision p {
    position: relative;
}

.our-vision p::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--main-color);
    top: 10px;
    right: -20px;
}

.our-vision-img .img-banner {
    position: absolute;
    bottom: -70px;
    left: 10px;
    z-index: 11;
}

.our-vision-img .img-bg {
    position: absolute;
    bottom: 0px;
}

@media(max-width:768px) {
    .our-vision-img .img-banner {
        position: static;
        display: block;
    }

    .our-vision-img .img-bg {
        display: none;
    }

    .our-vision {
        height: auto;
        padding: 30px !important;
    }

    .our-mission p,
    .our-vision p {
        line-height: 1.5;
        font-size: 16px;
    }

    .our-vision-caption {
        padding: 20px !important;
    }

    .our-vision {
        background-color: #324252;
        padding: 100px 50px;
        position: static;
    }
}


/* start our-values  */
.our-values {
    background-color: #E5E5E5;
    padding: 80px 50px;
    position: relative;
}

.our-values h2 {
    color: #000 !important;
    position: relative;
    margin-bottom: 50px;
}

.our-values h2::after {
    color: #000 !important;
    position: absolute;
    width: 70px;
    height: 4px;
    bottom: -14px;
    right: 0;
    background-color: #000;
    content: '';
}

.values-img-banner {
    top: 50%;
    right: 50%;
    transform: translate(50%, -45%);
    z-index: 1;
}

.values-img-bg {
    top: 50%;
    right: 55%;
    transform: translate(50%, -50%);
}

@media(max-width:768px) {
    .values-icons {
        flex-direction: column !important;
    }

    .values-icons .box {
        margin-right: 0 !important;
    }

    .small-box {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
    }

    .our-values {
        padding: 30px;
        position: static !important;
    }

    .values-img-banner {
        position: static !important;
        display: block !important;
        top: 0%;
        right: 0%;
        transform: translate(0%, 0%);
    }

    .values-img-bg {
        display: none !important;
    }

}

/* End about-page  */

/* start vision  */
.vision {
    padding: 50px;
    margin-top: -100px;
    /* padding-bottom: 400px; */
    background: url('../images/vision/vision-background.png');
    background-size: cover;
}

.vision .vision-img {
    margin-top: -100px;
}

.all-vision {
    position: relative;
    height: 438px;
    overflow: hidden;
}

.all-vision::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/vision/vision.png') no-repeat center center;
    background-size: cover;
    transition: opacity 1s ease;
    opacity: 1;
}

.all-vision::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, white, white);
    opacity: 0;
    transition: opacity 1s ease;
}

.vision .vision-img:hover .all-vision::after {
    opacity: 1;
}

.vision .vision-img:hover .icon {
    top: 20%;
}

.vision .vision-img:hover h4 {
    color: var(--main-color);
    top: 40%;
}

.vision .vision-img p {
    color: #000;
    text-align: center;
    opacity: 0;
    padding: 5px 40px;
    font-weight: 600;
    font-size: 17px;
    top: 70%;
}

.vision .vision-img:hover p {
    opacity: 1;
    margin: auto !important;
    top: 50%;
    transition: all .5s ease !important;
}

.vision .vision-img .icon {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: all .5s ease !important;
}

.vision .vision-img h4 {
    color: var(--second-color);
    top: 75%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: all .5s ease !important;
}

@media(max-width:992px) {
    .vision .vision-img {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .vision .vision-img p {
        font-size: 15px;
    }
}

@media(max-width:768px) {
    .vision {
        margin-top: 0px;
        padding: 20px;
        padding: 20px;
    }

    .vision .vision-img p {
        font-size: 13px;
    }

    .all-vision {
        height: 338px;
    }
}

/* End vision  */
.emploee {
    background-image: linear-gradient(to right, #DEEFF0, #FAFAFACC), url('../images/empolee/emploee-background.jpeg');
    background-position: top;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.emploee .emploee-caption-card .card {
    margin: 10px;
}

@media (max-width: 768px) {
    .emploee .emploee-caption {
        margin-top: 0px;
    }

    .emploee .emploee-caption-card {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        flex-direction: column;
    }

    .emploee {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* start partner  */
.partner .icon {
    position: absolute !important;
    top: 50% !important;
    right: 50% !important;
    transform: translate(50%, -50%) !important;
}

@media(max-width:992px) {

    .partner-section {
        flex-direction: column !important;
    }
}

/* End partner  */

/* start contact-us   */
.contact-us-home img {
    width: 100px;
}

@media(max-width:567px) {
    .contact-us-home .email-phone {
        flex-direction: column;
    }
}

/* End contact-us   */

/* start footer  */

.footer {
    background-image: linear-gradient(to right, #000101be, #000101be), url('../images/footer/footer.png');
    background-position: center;
    background-size: cover;
    color: var(--second-color);
    text-align: center;
    padding: 50px 50px 10px;
}

.overlay-dots-circle {
    position: absolute;
    top: -150px;
    right: -25px;
}

.footer .footer-caption {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-links a {
    font-size: 20px;
    font-weight: 600;
    color: var(--second-color);
}

.footer-links a:hover {
    color: var(--main-color);
}

.footer-hr {
    background-color: var(--main-color);
    margin-top: 50px;
}

@media(max-width:567px) {
    .footer {
        padding: 50px 20px 20px;
    }

    .footer-contact,
    .email-phone {
        flex-direction: column;
    }

    .email-phone div {
        margin-left: 0 !important;
    }

    .footer .footer-caption {
        margin-bottom: 10px;
        margin-top: 10px !important;
        font-size: 13px;
    }

    .footer-hr {
        margin-top: 10px;
    }

    .overlay-dots-circle {
        width: 100px;
    }

    .footer-links a {
        font-size: 16px;
    }
}

/* End footer  */

/* start services  */
.services {
    margin-bottom: 50px;
}

.services-section {
    height: 450px;
    background-position: top;
}

.services-caption {
    padding-top: 9%;
    font-size: 50px;
}

.services-card {
    box-shadow: 2px 2px 10px 2px #b6b3b33d;
    border-radius: 10px;
    position: relative;
    height: 400px;
}

.services-card h3 {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: all .3s ease;
}

.services-card-title {
    bottom: 37% !important;
}

.services-card:hover h3 {
    bottom: 40%;
    color: var(--second-color) !important;
}

.services-card p {
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, 0%);
    opacity: 1;
    transition: all .3s ease;
    width: 100%;
    padding: 10px;
}

.services-card:hover p {
    bottom: 0%;
    opacity: 1;
    opacity: 0;
}

.services-btn {
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: all .3s ease;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    width: 80%;
    padding: 15px 10px !important;
    z-index: 1;
}

.services-card:hover .services-btn {
    opacity: 1;
    color: var(--second-color);
    border: 2px solid var(--second-color);
}

.services-card .law {
    transition: all .3s ease;
    position: absolute;
    top: 17%;
    right: 50%;
    transform: translate(50%, -50%);
    border: 2px solid var(--main-color);
    fill: #0CB2C2;
    border-radius: 50%;
    padding: 10px;
}

.services-card:hover .law {
    right: 38%;
    transform: translate(50%, -50%);
    transform: rotate(45deg);
    border: 1px solid var(--second-color);
    fill: var(--second-color);
}

.services-card:hover .law2 {
    transform: rotate(0deg);
}

.services-card:hover .law3 {
    transform: rotate(20deg);
}

.services-card:hover .law4 {
    top: 15%;
}

.services-card::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0;
    top: 0%;
    left: 0%;
    transition: all .3s ease;
    z-index: -1;
}

.services-card:hover::before {
    opacity: 1;
    width: 100%;
}

@media(max-width:768px) {
    .services-section {
        height: auto;
        margin-bottom: 20px;
    }

    .services {
        margin-bottom: 20px;
    }

}

/* End services  */

/* start form-add-services */
.form-add-services {
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 10px 2px #b6b3b328;
    padding: 50px 100px;
    border-radius: 10px;
    z-index: 11;
    background-color: #FFFFFF;
}

.add-services {
    margin-top: -60px !important;
}

.form-add-services input[type="text"],
.form-add-services input[type="email"],
.form-add-services input[type="date"],
.form-add-services textarea {
    border: 2px solid #E7E9ED !important;
}

.add-btn {
    background-color: var(--main-color);
    color: var(--second-color);
    font-size: 17px;
}

.add-btn:hover {
    background-color: var(--second-color);
    color: var(--main-color);

}

@media(max-width:768px) {
    .form-add-services {
        width: 100%;
        padding: 30px 15px;
    }
}

/* End form-add-services */

/* start contact-us  */
.contact-us {
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 40px;
    color: var(--second-color);
    padding-bottom: 250px;
}

.contact-us h2 {
    font-size: 50px;
}

.contact-us h3 {
    margin-bottom: 50px !important;
}

.contact-us span {
    font-size: 20px;
}

.ifram-contact {
    margin-top: -180px;
    margin-bottom: 100px;
}

.ifram-width {
    border-radius: 20px !important;
    width: 90%;
    height: 70vh;
}

@media(max-width:768px) {
    .contact-us {
        padding: 20px;
        margin-top: 0 !important;
    }

    .contact-us h2 {
        font-size: 30px;
    }

    .contact-us h3 {
        font-size: 20px;
    }

    .ifram-contact {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

/* End contact-us  */

/* start law-section  */
.law-section .law-section-banner {
    top: -120px;
    background-color: var(--main-color);
}

.law-section-banner2 {
    left: -50px !important;
    width: 100px;
    top: 70px;
}

@media(max-width:768px) {
    .law-section {
        position: static !important;
    }

    .law-section .law-section-banner {
        position: static !important;
        display: block !important;
        margin-bottom: 20px;
    }

    .law-section-banner2 {
        display: none !important;
    }
}

/* End law-section  */

/* start overlays  */
.overlay-banner-circle-about,
.overlay-banner-circle-vision {
    position: absolute;
    top: 50%;
    right: -50%;
}

.overlay-banner-circle-vision {
    top: 50%;
    right: 0%;
    width: 150px;
    width: 100px;
}

.overlay-banner-circle-vision2 {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100px;
}

.overlay-banner-circle-partner {
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translateX(47%);
    width: 100px;

}

.overlay-banner-circle-footer {
    position: absolute;
    top: -38%;
    left: 0%;
    transform: translateX(43%);
    width: 100px;

}

.overlay-banner-circle-contact {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100px;
}

.overlay-banner-circle-about-emploee {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateX(-45%);
    width: 100px;
}

@media(max-width:768px) {

    .overlay-banner-circle-about,
    .overlay-banner-circle-vision,
    .overlay-banner-circle-vision2,
    .overlay-banner-circle-partner,
    .overlay-banner-circle-contact,
    .overlay-banner-circle-footer,
    .overlay-banner-circle-about-emploee {
        display: none;
    }
}

/* start swiper  */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    display: none !important;
}

/* start loader  */
body {
    overflow: hidden;
    background-color: var(--main-color);
    transition: background-color 1s ease-out;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-out;
}

.color-box {
    width: 100px;
    height: 100px;
}

.initial-color {
    background-color: white;
    width: 100%;
    height: 100vh;
}

.main-color {
    background-image: url('../images/logo.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: none;
}

.loaded .loader {
    transform: translateX(-100%);
}

.content {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.loaded .content {
    opacity: 1;
    transform: translateX(0);
}

.black-bar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    background-color: black;
    animation: moveBar 1.5s forwards;
    z-index: 9999;
    opacity: .5;
}

@keyframes moveBar {
    to {
        left: 100%;
    }
}